# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# その他
*.log

# Node.js
node_modules/

# firebase
firebase.setting*
serviceAccountKey.json

#work
work/
web-app-ts/data/board/*.json
web-app-ts/chara/
web-app-ts/clandata/
